html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $white;
	color: $grey;
	font-family: $font-primary;
	font-size: 1.2rem;
	line-height: 170%;
	font-weight: 300;
}

.clear {
	clear: both;
}

h1, h2, h3, h5, h6, {
	font-family: $font-secondary;
	font-weight: 300;
	font-style: normal;
	span {
		font-weight: 700;
	}
}

h1 {
	font-size: 2.6rem;
	line-height: 3.1rem;
	margin-bottom: 5px;
}

p {
	margin-bottom: 25px;
}

.button {
	@include btn-style($white);
}

/*
****** NAV ******
*/

@media screen and (max-width: 650px) {
	#main-nav-container {
		width: 100%;
	}
}

header {
	background-color: rgba(0, 0, 0, .6);
}

nav a {
	font-size: .9rem;
	color: $white;
	font-family: $font-secondary;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
}

.logo img {
	width: 35px;
	height: auto;
}

/*
****** HEAD ******
*/

#head {
	background-image: url('../_images/meltmedia-superhero.png');
	background-size: cover;
	background-position: center center;
	color: $white;
	padding: 125px 0 50px 0;
	width: 100%;
}

/*
****** WORK ******
*/


@media screen and (min-width: 896px) {
	#work {
		padding-top: 25px;
		article {
			width: 40%;
			float: left;
			margin-left: 11%;
		}
		#viewports-img {
			float: right;
			width: 35%;
			height: auto;
			margin-right: 8%;
		}
	}
}

@media screen and (min-width: 1116px) {
	#work {
		article {
			margin-top: 85px;
			h1 {
				width: 70%;
			}
		}
	}
}

@media screen and (max-width: 1115px) {
	#work {
		article {
			margin-top: 0;
			h1 {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	#work article h1 {
		width: 90%;
	}
}

@media screen and (min-width: 651px) and (max-width: 895px) {
	#work article h1 {
		width: 70%;
	}
}

@media screen and (max-width: 895px) {
	#work {
		article {
			float: none;
			width: 100%;
			text-align: center;
			h1 {
				margin: 10px auto;
			}
			p {
				width: 90%;
				margin: auto;
				text-align: left;
				margin-bottom: 35px;
			}
		}
		#viewports-img {
			float: none;
			width: 30%;
			height: auto;
			margin: auto;
			display: block;
		}
	}
}