body {
	background-color: $white;
	color: $grey;
	font-family: $font-primary;
	font-size: 1.1rem;
	line-height: 170%;
	font-weight: 300;
}

.clear {
	clear: both;
}

h1, h2, h3, h5, h6, {
	font-family: $font-secondary;
	font-weight: 300;
	font-style: normal;
	span {
		font-weight: 700;
	}
}

h1 {
	font-size: 2.6rem;
	line-height: 3.1rem;
}

/*
****** NAV ******
*/

@media screen and (max-width: 850px) {
	#main-nav-container {
		width: 100%;
	}
}

header {
	background-color: rgba(0, 0, 0, .6);
}

nav a {
	font-size: 1rem;
	color: $white;
	font-family: $font-secondary;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
	// &:hover {
	// 	border-bottom: 2px solid $darkgrey;
	// }
}

/*
****** HEAD ******
*/

#head {
	background-image: url('../_images/meltmedia-superhero.png');
	background-size: cover;
	background-position: center center;
	color: $white;
	padding: 150px 9% 100px 12%;
	width: 79%;
}

/*
****** WORK ******
*/
#work {
	article {
		width: 38%;
		float: left;
		margin-right: 5%;
		p {
			font-family: $font-primary;
			font-weight: 300;
		}
	}
	#viewports-img {
		float: right;
	}
}