/*
****** BUTTON ******
*/

@mixin btn-style($btn-color: #ffffff) {
	font-size: 1.1rem;
	border: $white 1px solid;
	padding: 15px 40px;
	text-decoration: none;
	color: $white;
	cursor: pointer;
	transition: all ease 0.8s;
	&:hover, &:active {
		background-color: transparentize($btn-color, .85);
	}
}